<footer *ngIf='atend && showfooter' [ngClass]="classes" [ngStyle]="styles" class="footer atend">
			  
    <p>Footer</p>
      
</footer>

<footer *ngIf='classes?.fixed && showfooter' [ngClass]="classes" [ngStyle]="styles" class='footer fixed'>
  
    <p>Footer</p>
      
</footer>