div, footer{

    box-sizing: border-box;
}

footer {

    right: 0;
    z-index: 100;
    float:left;
    overflow: hidden;
    
}

.fixed.footer{

    bottom: 0;

}

.footer.atend{

    float:left;
    width: 100%;
    position:relative;

}

.footer{

	margin: 0;
    color: #333;
    text-align: center;
    padding: 2.5em 2em 0;
    border-bottom: 1px solid #eee;
    left: 0;
    right: 0;
    z-index: 100;
    position:relative;

}

.fixed {

	position: fixed;
    left: 0;
    
 }

@media (min-width: 768px) {

    .fixed{

        left: 150px;

    }

}