<app-top-elements *ngIf="pageconfig.loaded  && global" (onHeightChange)='onTopHeightChange($event)'  [static]='static' [pageconfig]='pageconfig' [global]='global' [breadcrumbs]='breadcrumbs' [pagetitle]='pagetitle' [defaultelements]='defaultelements'></app-top-elements>


<span [ngSwitch]="pagetype">
	<span *ngSwitchCase="'virtual-list'">
	
		<app-virtual-list class='contentcontainer' *ngIf="pageconfig.loaded && pagedata.loaded  && global" [static]='static' [pageconfig]='pageconfig' [global]='global' [pagedata]='pagedata' [breadcrumbs]='breadcrumbs'  [change]='change'></app-virtual-list>
		<!--<app-virtual-list-page class='contentcontainer' *ngIf="pageconfig.loaded && pagedata.loaded  && global" [static]='static' [pageconfig]='pageconfig' [global]='global' [pagedata]='pagedata' [breadcrumbs]='breadcrumbs' [defaultelements]='defaultelements' [change]='change'></app-virtual-list-page>-->
		

	</span>
	<span *ngSwitchCase="'lazy-render'">

		<app-lazy-render-page class='contentcontainer' *ngIf="pageconfig.loaded && pagedata.loaded  && global" [static]='static' [pageconfig]='pageconfig' [global]='global' [pagedata]='pagedata' [breadcrumbs]='breadcrumbs'  [change]='change'></app-lazy-render-page>
		<!--<app-lazy-render-page class='contentcontainer' *ngIf="pageconfig.loaded && pagedata.loaded  && global" [static]='static' [pageconfig]='pageconfig' [global]='global' [pagedata]='pagedata' [breadcrumbs]='breadcrumbs' [defaultelements]='defaultelements' [change]='change'></app-lazy-render-page>-->


	</span>

</span>