<!--<app-header></app-header>-->
<header class="header" [ngClass]="classes?.header" [innerHTML]="elementcontent?.header | translate" [ngStyle]="styles?.header" [class.fixed]="classes?.header?.fixed">
  
   <!-- <h1>rienkCMS</h1>
    <h2>A Angular2 cms</h2>-->
      
</header>

<div  [ngStyle]="styles?.breadcrumbs" [ngClass]="classes?.breadcrumbs" [class.fixed]="classes?.breadcrumbs?.fixed" class='breadcrumbs'>
<p>{{breadcrumbs}}</p>
</div>

<div class='pagetitle' [ngStyle]="styles?.pagetitle" [innerHTML]="pagetitle" [ngClass]="classes?.pagetitle" [class.fixed]="classes?.pagetitle?.fixed">

my title

</div>

<div class='topdivider' [ngClass]="classes?.topdivider" [ngStyle]="styles?.topdivider"></div>

