div, header{

    box-sizing: border-box;
}


.header,.breadcrumbs, .pagetitle, .footer{

    margin: 0;
    color: #333;
    text-align: center;
    padding: 2.5em 2em 0;
    border-bottom: 1px solid #eee;
    left: 0;
    right: 0;
    z-index: 100;
    position:relative;

}

.header,.breadcrumbs, .pagetitle{

    top: 0;

}

.fixed {

    position: fixed;
    left: 0;
    
 }


header, footer, .breadcrumbs, .pagetitle{

    overflow: hidden;
    
}



@media (min-width: 768px) {

    .fixed{

        left: 150px;

    }

}

div.topdivider {

    display: block;
    float:left;
    width: 100%;

}