<div id="menuLink" [class.active]="menu_active" class="menu-link" (click)="toggleMenu()">
    <!-- Hamburger icon -->
    <span></span>
</div>

<app-language-picker></app-language-picker> 
    <div id="menu" [class.active]="menu_active" >
        <div class="pure-menu">
        <a class="pure-menu-heading">rienkCMS</a>
        <ul class="pure-menu-list">
            <li class="pure-menu-item"><a class="pure-menu-link" routerLink="/home" routerLinkActive="active" (click)="toggleMenu()">{{'home' | translate}}</a></li>           
        </ul>
    </div>
</div>
<div id='mainoverlay' [class.active]="menu_active" (click)="toggleMenu()">
</div>
<div id="main" [class.menuactive]="menu_active">
    <main class="content">
        <router-outlet></router-outlet>
    </main>
</div>

