<div id="langpicker"  [class.active]="langmenu_active" class="menu-link" (click)="toggleLangMenu()">
  <!-- Hamburger icon -->
  <!--<button  class="pure-button pure-button-primary">{{translations[lang?.translationkey]}}</button>-->
  <button class="pure-button pure-button-primary">{{lang?.translationkey | translate}}</button>
</div>
<form id="langform" [class.active]="langmenu_active"  class="pure-form pure-form-stacked">
    <fieldset>
        <!--<label for="lang">Language</label>-->
        <!--<select id="lang" [ngModel]="selectedLang" [value]="selectedLang" (ngModelChange)="onChange($event)">-->
        <!--<select id="lang" [ngModel]="selectedLang" (ngModelChange)="onChange($event)" name="selectedLang" [value]="selectedLang?.text">-->
        <select id="lang" [ngModel]="selectedLang" (ngModelChange)="onChange($event)" name="selectedLang" [value]="selectedLang">
            <!--<option  [ngValue]="l" *ngFor="let l of languages">{{translations[l.translationkey]}}</option>-->
            <option  [ngValue]="l" *ngFor="let l of languages">{{l.translationkey | translate}}</option>  
        </select>

        <label for="rememberlang" class="pure-checkbox">
            <input  [ngModel]="rememberlang" [value]="rememberlang" (ngModelChange)="onRememberChange($event)" name='rememberlang' id="rememberlang" type="checkbox">Remember
        </label>
    </fieldset>
</form>