#langpicker{

	position: fixed;
	top: 0;
	right: 0;
	z-index:9999;

}

#langpicker>button{

	width: 100%;

}

#langform {

	position: fixed;
	top: 0;
	right: -150px;
	background-color: rgba(0,0,0,0.7);
	color:white;
	z-index:9999;
}


#langform, #langpicker {

	width: 150px;
	-webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;

}

#langform>fieldset{

	padding-top: 0;

}

#langform>fieldset>select {

	width: 100%;
	margin-top: 0;
	color:black;

}

#langform.active {

	right: 0;

}

#langpicker.active {

	right: 150px;
}

.pure-checkbox{

	padding: 8px;
}

.pure-button-primary{

	background-color: #1f8dd6 !important;
}