<span [ngSwitch]="template">
	<span *ngSwitchCase="'list'">
		<div  class="homelist" [ngStyle]="styles?.containerstyle">
			<!--<span  class=" homelistrow" [class.calling]="calling" *ngFor="let d of visibleProvider" [ngStyle]="d.styles" [class.selected]="currentOption.value === d.value">
				<div  class="pure-g">
				    <div class="pure-u-1 pure-u-md-1-2 textbox" (click)="onSelect(d)">
				        <h2 [innerHTML]= d.postTitle></h2>
				        <h3 class="content-subhead" [innerHTML]= d.postAuthor></h3>
				    </div>
				    <div class="pure-u-1 pure-u-md-1-2 imgbox" (click)="onSelect(d)">
				        <img class="pure-img listimg" src="{{d.media1}}">
				    </div>

				</div>
			    
			</span>-->
			<div class='homelistrow' *ngFor="let d of domelements" [ngStyle]="d?.styles" (click)="toDetail(listdata[d.index]?.id)">
				<!--<p>{{listdata[d.index]?.postAuthor}}index:{{d?.index}}top:{{d?.styles?.top}}</p>-->
				<p [innerHTML]="listdata[d.index]?.excerpt"></p>
			</div>

			<app-footer [atend]='atend' [showfooter]='showfooter' [classes]='classes?.footer' [styles]='styles?.footer'></app-footer>

		</div>

	</span>

</span>

