:host {

    display:block;
    float:left;
    width: 100%;

}


div{

    box-sizing: border-box;
}

.homelistrow {

    float:left;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    display: block;
    border: 1px solid black;
    width: 100%;

}

.homelistrow>* {

    overflow: hidden;

}

.homelistrow>*>* {

    overflow: hidden;
}

.homelistrow>*>*>* {

    overflow: hidden;
}


/* sticky*/

.fixed {

	position: fixed;
    left: 0;
    
 }




@media (min-width: 768px) {

    .fixed{

        left: 150px;

    }

}

@media (max-width: 568px) {

    .homelistrow>p{

        font-size: 90%;
    }

}