.header,.breadcrumbs, .pagetitle, .footer{

    margin: 0;
    color: #333;
    text-align: center;
    padding: 2.5em 2em 0;
    border-bottom: 1px solid #eee;
    left: 0;
    right: 0;
    z-index: 100;
    position:relative;

}

.homelistrow {

    float:left;
    overflow: hidden;
    position: relative;
    width: 100%;
    display: block;

}

.homelistrow>*{

    display: inline-block;

}



.homelistrow>* {

    overflow: hidden;

}

.homelistrow>*>* {

    overflow: hidden;
}

.header,.breadcrumbs, .pagetitle{

    top: 0;

}


.fixed.footer{

    bottom: 0;

}

.footer.atend{

    float:left;
    width: 100%;
    position:relative;

}

footer {

    right: 0;
    z-index: 100;
    float:left;
    

    overflow: hidden;
    
}


.breadcrumbs>p{

	display: inline-block;
}

/* sticky*/

.fixed {

	position: fixed;
    bottom: 0;
    
 }


header, footer, .breadcrumbs, .pagetitle{

    overflow: hidden;
    
}



@media (min-width: 768px) {

    .fixed{

        left: 150px;

    }

}