<span [ngSwitch]="template">
	<span *ngSwitchCase="'detail'">
		<div  class="homelist" [ngStyle]="styles?.containerstyle">
			<span  class='homelistrow' *ngFor="let d of domelements" [ngStyle]="d?.styles" id='{{d?.domid}}'>
				<div  class="pure-g">
				    <div class="pure-u-1 pure-u-md-1-2 textbox" (click)="onSelect(d)">
				        <h2 [innerHTML]= d?.values?.blockTitle></h2>
				        <h3 class="content-subhead" [innerHTML]= d?.values?.postAuthor></h3>
				        <p [innerHTML]= d?.values?.blockContent></p>
				    </div>
				    <div class="pure-u-1 pure-u-md-1-2 imgbox" (click)="onSelect(d)">
				        <img class="pure-img listimg" src="{{d?.values?.blockmedia}}">
				    </div>

				</div>
			    
			</span>
			<!--<div class='homelistrow' *ngFor="let d of domelements" [ngStyle]="d?.styles" id='{{d?.domid}}'>
				<p>{{d?.values?.postAuthor}}index:{{d?.index}}top:{{d?.styles?.top}}{{d?.values?.postContent}}</p>
			</div>-->

			<app-footer [atend]='atend' [showfooter]='showfooter' [classes]='classes?.footer' [styles]='styles?.footer'></app-footer>

		</div>

	</span>
</span>
